* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    color: #eee;
    background-color: #1a1a1a;
}

#display {
    font-size: 40px;
}

#board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 80%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    background-color: #444;
}

.square {
    background-color: #333;
    width: 100%;
    height: 100%;
}

.square:hover {
    cursor: pointer;
    background-color: #444;
}